@keyframes lds-ripple {
    0% {
      top: 94px;
      left: 94px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 17px;
      left: 17px;
      width: 154px;
      height: 154px;
      opacity: 0;
    }
  }
  
  .lds-ripple {
    position: relative;
  }
  
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 6px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .lds-ripple div:nth-child(1) {
    border-color: rgb(0,64,113);
  }
  
  .lds-ripple div:nth-child(2) {
    border-color: #5699d2;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  .lds-ripple {
    width: 75px !important;
    height: 75px !important;
    -webkit-transform: translate(-37.5px, -37.5px) scale(0.375) translate(37.5px, 37.5px);
    transform: translate(-37.5px, -37.5px) scale(0.375) translate(37.5px, 37.5px);
  }
  
  